DirectoryIndex index.php index.html
Options -Indexes
RewriteEngine On
RewriteBase /ava/moodle/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ava/moodle/index.php [L]
